<main>
  <form>
    <fieldset>
      <legend>
        the<span>orange</span>dashboard&ensp;
        <img src="assets/img/leaves_orange.svg" alt="">
      </legend>
      <div class="form-group">
        <input type="text" name="email" [(ngModel)]="loginData.email" required>
        <label for="">Email</label>
      </div>
      <div class="form-group">
        <input type="password" name="password" [(ngModel)]="loginData.password" required>
        <label for="">Password</label>
      </div>
    </fieldset>
    <button type="button" (click)="login()">login</button>
    <p *ngFor="let m of messages">{{m}}</p>
  </form>
</main>