<section class="row">
  <div class="col s6 m4">
    <a routerLink="/modae/designers" class="tile">
      <i class="material-icons tile-icon">image</i>
      <h5>Designers</h5>
    </a>
  </div>
  <div class="col s6 m4">
    <a routerLink="/modae/blog" class="tile">
      <i class="material-icons tile-icon">book</i>
      <h5>Blog</h5>
    </a>
  </div>
  <div class="col s6 m4">
    <a class="tile">
      <i class="material-icons tile-icon">event</i>
      <h5>Events</h5>
    </a>
  </div>
</section>