<header id="hero">
  <div class="container">
    <h1>The
      <span>Orange</span> Dashboard</h1>
    <p>Welcome back!</p>
  </div>
</header>
<main class="container">
  <app-search></app-search>
  <section class="row">
    <div class="col s6 m4">
      <a routerLink="/modae" class="tile">
        <i class="material-icons tile-icon">book</i>
        <h5>Moda è</h5>
      </a>
    </div>
    <div class="col s6 m4">
      <a class="tile">
        <i class="material-icons tile-icon">account_balance</i>
        <h5>Museo</h5>
      </a>
    </div>
    <div class="col s6 m4">
      <a class="tile">
        <i class="material-icons tile-icon">apps</i>
        <h5>Accademy App</h5>
      </a>
    </div>
  </section>
</main>