<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h4>Some info</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Ipsam itaque explicabo facilis maiores similique optio magni quia aut fugiat officiis.</p>
        <p>veritatis inventore animi, delectus culpa.</p>
      </div>
      <div class="col s3">
        <h4>Links</h4>
        <ul>
          <li>
            <a href="">link 1</a>
          </li>
          <li>
            <a href="">link 2</a>
          </li>
          <li>
            <a href="">link 3</a>
          </li>
        </ul>
      </div>
      <div class="col s3">
        <h4>Address</h4>
        <address>
          via del santissimo campanile
          <br> di sant'Insisto
        </address>
      </div>
    </div>
  </div>
  <div class="info">
    Copyright 2018 Stefano Imparato. All Rights Reserved
  </div>
</footer>