.card {
    article {
        @extend .ease-in;
        @extend .z-depth-1;
        position: relative;
        background: $white;
        h4 {
            margin-top: 0;
        }
        .menu {
            position: absolute;
            right: 1.2rem;
            top: 1.2rem;
            font-size: 1.6rem;    
        }
        .content {
            padding: 1.2rem;
        }
        footer {
            display: flex;
            justify-content: space-between;
            padding: 1rem 1.2rem;
            border-top: $border;
        }
    }
}